@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-image: url('/images/background.png');
    overflow-x: hidden;

}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

header {
    height: 99px;
}

.navbar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    padding: 14px 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    flex: 1;
    order: 1;
}

.nav-center {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items {
    padding: 10px 15px;
}

.items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;

}

li {
    list-style: none;
}

.navbar-right {
    flex: 1;
    order: 3;
    padding: 10px 15px;
}

.logo img {
    width: 170px;
    height: 41px;
}

.login-btn {
    width: 44px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    border: none;
    margin-right: 15px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.register-btn {
    border-radius: 40px;
    width: 129px;
    height: 42px;
    padding: 12px 32px;
    background-color: #fff;
}


/*Hambürger menü CSSleri*/
.hamburger-menu>div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  

.mobile-nav{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}
.hamburger-menu{
    position: absolute;
    right: 0;
    padding: 10px 15px;
    z-index: 2;
}
.mobile-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: black;
    width: 100%;
    z-index: 1;
    padding: 10px 15px;
    height: 400px;
}
.mobile-items{
    margin: 10px 0;
}
.mobile-items a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 0px;
}
.hide{
    display: none;
}


@media(max-width:900px){
    .navbar{
        display: none;
    }
}
@media(min-width:900px){
    .mobile-nav{
        display: none;
    }
}




/*Wrapper burada */
.wrapper {
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content-area {
    margin-top: 99px;
    width: 100%;
    height: auto;
    text-align: center;

}

.header-1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 112%;
    color: #FFFFFF;
}

.header-2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 112%;
    color: #FFFFFF;

}

.text-gray {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8B8B8B;
}

.button-area {
    display: flex;
    flex-direction: row;
}

.get-start {
    background: rgba(168, 255, 53, 1);
    width: 220px;
    height: 57px;
    border-radius: 40px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.start-image {
    width: 50%;
    margin-left: 2rem;
}

.card-area {
    margin-top: 94px;
}

.cards {
    width: 100%;
}

.new-tab {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 255, 53, 1);
    width: 100%;
}

.green-text {
    margin-bottom: 140px;
    width: 50%;
}

.tab-header {
    margin-bottom: 60px;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;

}

.findtrend {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 60px;
    width: 502px;
    height: 202px;
    background-color: rgba(245, 245, 245, 1);
}

.image-group {
    display: flex;
    position: relative;
}

.image-right {
    position: relative;
    bottom: 9rem;
    right: -23rem;

}

.image-left {
    position: relative;
    bottom: 8.6rem;
    right: 23rem;
}

.green-text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.white-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.white-hero {
    width: 1160px;
    margin-top: 140px;
    margin-bottom: 140px;
}

.hero-header {
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
}

.hero-header2 {
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #ADADAD;
}

.brand-area {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 802px;
    width: 100%;
    background-color: #FFFFFF;
}

.brand-header {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    margin-bottom: 5rem;
}

.image-brand img {
    width: 100%;
    height: 506px;

}

.all-platforms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FAFAFA;
}

.platform-header {
    padding-top: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #000000;
}

.platform-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.platform-cards img {
    width: 100%;
}

.tweets-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
}

.tweets-area img {
    width: 100%;
}

.tweet-2 {
    margin-top: 43px;
}

.tweet-3 {
    margin-top: 40px;
}

.trend-button {
    margin-top: 80px;
    margin-bottom: 140px;
    width: 198px;
    height: 57px;
    border-radius: 40px;
    color: #fff;
    background-color: #000000;
}

.prices {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #000000;
}

.price-contents {
    margin-top: 140px;
}

.price-header {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}

.price-informations {
    display: flex;
    flex-direction: row;
}

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-span {
    color: white;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    padding: 0 30px;
}

.price-span2 {
    color: #F5F5F5;
    opacity: 0.5;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    padding: 0 30px;
}

.save-price {
    width: 100%;
}

.switch {
    position: relative;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 52px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transform: translate(0px, 0px);
}

.slider:before {
    position: absolute;
    content: "";
    top: 9px;
    left: 13px;
    height: 36px;
    width: 36px;
    background-color: #A8FF35;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #1e2321;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(40px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.price-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    padding-bottom: 140px;
    flex-wrap: wrap;
}

.svg-line {
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-header {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #000000;
}

.info-subheader {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.price {
    font-size: 64px;
    line-height: 100%;
    font-weight: 400;
    color: #000000;
}

.small-price {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.benefits-customer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.benefit-margin {
    margin-bottom: 10px;
    margin-top: ;
}

.benefit-1 {
    color: #000000;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;

}

.benefits-customer2 {
    display: flex;
    flex-direction: row;


}

.benefits-customer3 {
    display: flex;
    flex-direction: row;
    position: relative;

}

.start-btn {
    margin-top: 54px;
}

.trial-btn {
    width: 296px;
    height: 58px;
    background: #A8FF35;
    border-radius: 29px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
}

.trial-btn2 {
    width: 296px;
    height: 58px;
    background: black;
    color: white;
    border-radius: 29px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    align-items: center;
    padding: 15px 0px;
    text-align: center;
}

.price-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-1 {
    flex-basis: 360px;
    height: 640px;
    background-color: #FAFAFA;
    border-radius: 16px;
    margin: 10px 15px;
    position: relative;
}

.info-2 {
    flex-basis: 360px;
    height: 640px;
    background: #A8FF35;
    border-radius: 16px;
    margin: 10px 15px;
    position: relative;
}

.card-header {
    color: white;
    font-size: 36px;
    color: #000000;
    line-height: 100%;
    font-weight: 400;
}

.info-contents {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.card-subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.month-price {
    font-size: 64px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
}

.small-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.card-subcontents {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.customer-1 {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.customer-benefit {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 5px 7px;
}

.button-group {
    position: absolute;
    bottom: 2rem;
}

.tik-infos {
    margin: 10px 0;
}

.footer-green {
    display: flex;
    width: 100%;
    height: 539px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A8FF35;
}

.footer-header {
    font-size: 72px;
    line-height: 112%;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.green-opacity {
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
    text-align: center;
    color: #87D322;
}

.button-footer {
    margin-top: 40px;
}

.btn-join {
    width: 180px;
    height: 57px;
    border-radius: 40px;
    text-align: center;
    background-color: #000000;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.footer-bottom {
    height: 100px;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0px 20px;
}

.logo-footer {
    /* flex: 2; */
    margin: 0px 35px;
}

.logo-footer img {
    width: 150px;
}

.footer-infos {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    margin: 0px 35px;

}

.footer-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0px 15px;

}


@media(max-width:900px) {
    body {
        width: auto;
        overflow-x: hidden;
    }

    .wrapper {
        width: auto;
        overflow: hidden;

    }

    .header-1,
    .header-2 {
        font-size: 32px;
    }

    .content-area {
        height: auto;
        width: 100%;
        margin-top: 40px;
    }

    .text-gray {
        font-size: 14px;
        text-align: center;
        margin: 15px auto;
    }

    .get-start {
        width: 180px;
        height: 57px;
        font-size: 15px;
        padding: 10px;
    }

    .start-image {
        width: 30%;
    }

    .tab-header {
        font-size: 32px;
    }

    .findtrend {
        width: 339px;
        height: 118px;
    }

    .findtrend img {
        width: 80%;
    }

    .image-right {
        position: relative;
        width: 100%;
        bottom: 12rem;
        right: -11rem;
    }

    .image-left {
        bottom: 0.3rem;
        right: 11rem;
    }

    .save-price {
        width: 20%;
        top: 15rem;
        right: 6rem;
        position: absolute;
    }

    .green-text {
        font-size: 14px;
        width: 286px;
    }

    .hero-header {
        font-size: 36px;
        text-align: left;
        margin-top: 5rem;
        font-weight: 900;
        margin-bottom: 5rem;
    }

    .hero-header2 {
        font-weight: 900;
        font-size: 36px;
        text-align: left;
    }
    .brand-area{
        height: auto;
        padding-top: 0;
    }
    .brand-header {
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 0;
    }
    .image-brand img{
        height: auto;
    }

    .platform-header {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .price-header {
        font-size: 36px;
    }
    .white-hero {
        width: 1160px;
        margin-top: 0;
        margin-bottom: 0px;
    }
    .platform-cards{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .price-span {
        font-size: 18px;
    }
    .tweets-area{
        margin-top: 0;
        width: 100%;
        height: auto;
    }
    .tweets-area img{
        width: 100%;
    }
    .trend-button{
        margin-bottom: 20px;
    }

    .price-span2 {
        font-size: 18px;
    }

    .footer-green {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .green-footer {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }

    .green-opacity {
        font-size: 36px;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;

    }

    .btn-join {
        width: 106px;
        height: 44px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 19.6px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: auto;
        padding-top: 2rem;
    }

    .footer-text {
        padding: 15px 15px;
    }

    .footer-infos {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 15px 15px;
        margin-bottom: 25px;
    }

}