@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

header {
    height: 99px;
}

.navbar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    padding: 14px 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    flex: 1;
    order: 1;
}

.nav-center {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items {
    padding: 10px 15px;
}

.items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;

}

li {
    list-style: none;
}

.navbar-right {
    flex: 1;
    order: 3;
    padding: 10px 15px;
}

.logo img {
    width: 170px;
    height: 41px;
}

.login-btn {
    width: 44px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    border: none;
    margin-right: 15px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.register-btn {
    border-radius: 40px;
    width: 129px;
    height: 42px;
    padding: 12px 32px;
    background-color: #fff;
}
/*Hambürger menü CSSleri*/
.hamburger-menu>div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.mobile-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.hamburger-menu {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    z-index: 2;
}

.btn-mobile {
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    border: 0;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100%;
    z-index: 1;
    padding: 10px 15px;
    height: 400px;
}

.mobile-items {
    margin: 10px 0;
}

.mobile-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 10px 0px;
}

.hide {
    display: none;
}


@media(max-width:900px) {
    .navbar {
        display: none;
    }
}

@media(min-width:900px) {
    .mobile-nav {
        display: none;
    }
}
p{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    margin: 15px 0;
}
.hide{
    display: none;
    visibility: hidden;
}
.btn-hide{
    width: 150px;
    height: 50px;
    margin-top: 2rem;
    text-align: center;
    background: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
}
.info-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    height: 200px;
    width: 400px;
    background: white;
    padding: 10px 15px;
    border: 2px solid black;
}
.info-change input{
    border: 2px solid black;
    width: 250px;
    height: 25px;
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 20px;
}
input::placeholder{
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.button-change{
    width: 150px;
    height: 30px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background: black;
    color: white;
    border-radius: 20px;
}
.msg-error{
    border-radius: 35px;
    text-transform: none;
    width: 200px;
    height: 50px;
    font-size: 16;
    opacity: 0.7;
    background-color: red;
}
.btn-welcome{
    width: 200px;
    height: 50px;
}
.body-white{
    background: white;
    color: black;
}
.black-p{
    color: black;
}
#bg-black{
    display: none;
}
.logout-btn{
    border-radius: 40px;
    width: 129px;
    height: 42px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: red;
    border: none;
}
